extends layout

block content
    p hey #{title}
    div(class='body')
        p without token
        form(method="POST" name='contactForm' action="/transfer")
            .form-group
                label(class='lbl') amount
                input.form-control(type='text', name='amount' placeholder='Enter the amount to transfer')
            .form-group
                label  dest
                input#to.form-control(type='text', name='dest' placeholder='Enter the account to transfer to')
                br
            .form-group
                button.btn.btn-primary(type='submit') Submit
        br
        a(class='logout' href='/logout') logout




